.outbox{
    height: 100%;
    margin: 0 auto;
    padding-top: 10%;
   
}

.login-title{
    text-align: center;
}

.login-form {
    max-width: 300px;
    margin: 5% auto;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}
